#
# Loaded from .zshrc
#

alias tailf='tail -f'

alias lld='ls -d1 */'
alias ll='ls -l'
alias lli='ls -val'
alias llt='ls -lart'
alias lla='ls -lart'

alias hgrep='history |grep '

#
# Jasypt Stuff
#
function jasypt-decrypt() {
    ~/Applications/jasypt/bin/decrypt.sh algorithm=PBEWithMD5AndDES input="$1" password=Fuse-In-ator
}

alias jasypt-encrypt="~/Downloads/jasypt/bin/encrypt.sh algorithm=PBEWithMD5AndDES input="$1" password=<password here>"

#
# Docker aliases
#
docker_fuse_log_tail() {
    docker exec -i -t $1 tail ---dis -f /opt/spring/log/spring.log
}
alias dtail=docker_fuse_log_tail

# Connect to a shell
docker_exec() {
    docker exec -i -t $1 /bin/bash
}
alias de=docker_exec

alias dsall="docker stop $(docker ps -a -q)"
alias ds-drm="docker stop $1; docker rm $1"
alias drmall="docker ps -a -q | xargs -n 1 -P 8 -I {} docker rm {}"
alias dl="docker logs -f $1"
alias dps="docker ps -a --format \"table $(tput setaf 2){{.ID}}\t $(tput setaf 1){{.Names}}\t $(tput setaf 4){{.Status}}{{.Ports}}$(tput sgr0)\""
alias dcup="docker-compose up -d $*"
alias drm="echo 'Docker rm -f'; docker rm -f"


alias mci='mvn clean install'
alias mgs='mvn generate-sources generate-resources generate-test-sources generate-test-resources'


